<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ghostcode.habit_o_tron">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.ghostcode.habit_o_tron.settings">
        </activity>
        <activity android:name="com.ghostcode.habit_o_tron.debugMenu">
        </activity>
        <activity android:name="com.ghostcode.habit_o_tron.userStats">
        </activity>
        <activity android:name="com.ghostcode.habit_o_tron.advice">
        </activity>
        <activity android:name="com.ghostcode.habit_o_tron.setUp">
        </activity>
        <activity android:name="com.ghostcode.habit_o_tron.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>